.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 293px;
}

ul {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
  margin: 0 5px;

}

.header img {
  height: 108px;
  width: 105px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  df
}

